<h1>ALL ABOUT MEEEEEE!!!</h1>
<img class="chris-rock" src="giphy.gif" alt="chris rock dancing gif"/>
<h3>Guns, bad. Chris Rock, good.</h3>
<p class="guns">Speaking of guns and Chris Rock, <a class="project-nav" href=https://youtu.be/OuX-nFmL0II>this is funny</a>.</p>
<h2>Here are some more dichotomus things in...</h2>
<h3>The World According to Becca:</h3>
<table>
  <tr>
    <th>THING</th>
    <th>STATUS</th>
  </tr>
  <tr>
    <td>Sleep</td>
    <td>Good</td>
  </tr>
  <tr>
    <td>Smelly people on the bus</td>
    <td>Bad</td>
  </tr>
  <tr>
    <td>My computer</td>
    <td>Good</td>
  </tr>
  <tr>
    <td>The beach</td>
    <td>Sandy</td>
  </tr>
  <tr>
    <% pic_array = ["fatty.png", "fatty2.png", "fatty3.png", "fatty4.png", "fatty5.png", "gj.png"] %>
    <% rand_pic = pic_array[rand(pic_array.length)] %>
    <td><img src= <%= rand_pic %> ></td>
    <td>Best</td>
  </tr>

</table>
