<div id="welcome">
  <h1>Welcome to my kitchen</h1>
  <h2>Bored? Hungry? Grab a knife.</h2>
</div>
    <img class="kitchen" src="http://blog.sembrodesigns.com/wp-content/uploads/2015/06/Women-love-a-guy-that-cooks-at-home-kitchen-Columbus-Ohio.jpg" alt="couple laughing and cooking" />
    <p class="tag-line">
      I love to eat. So I must cook. I love to buy random things and then figure out what to do with them.
      Visit my <a class="project-nav" href="projects.erb">Projects</a> page to see what I've been making.
    </p>
