<div id="kale">
  <h1>What I made last night</h1>
  <h3>Kale Salad</h3>
    <ul class="recipe">
      <li>one bunch of kale</li>
      <li>juice of one lemon</li>
      <li>parmesan cheese</li>
      <li>olive oil</li>
      <li>salt and pepper</li>
    </ul>

    <ol class="recipe">
      <li>Wash kale to your standards. I take the extra time to inspect each leaf to make sure I don't end up eating any aphids. But that's a personal preference.</li>
      <li>With or without aphids, chop kale into bite-sized pieces. Massage your kale if you'd like.</li>
      <li>Whisk lemon juice, salt and pepper together and then drizzle in olive oil.</li>
      <li>Pour dressing and shredded parmesan over kale, mix and devour.</li>
    </ol>

    <img class="food-pics" src="http://www.gimmesomeoven.com/wp-content/uploads/2011/09/lemon-parmesan-kale-salad.jpg" alt="Kale Salad" />
</div>

<hr>

<% if Time.now.month > 4 && Time.now.month < 10 %>
<div id="margarita">
  <h3>Frozen Honeydew Margarita</h3>
  <div class="ingredients">
  <p class="recipe">Do you find yourself with a surplus of melon in November? Probably not. So file this away for another day.</p>
    <ul class="recipe">
      <li>1 honeydew melon (the green kind, dude)</li>
      <li>3/4 cup white tequila</li>
      <li>1/3 cup fresh lime juice</li>
      <li>sugar, to taste</li>
    </ul>
  </div>

    <ol class="recipe">
      <li>Slice open your melon and remove the seeds.</li>
      <li><strong>DO THIS PART 3 HOURS OR A WEEK BEFORE </strong>You are going to freeze the insides of the melon, but you need it to be in bite-sized pieces so you can throw them in the blender. So chop up or scoop out the insides and put them in a freezer bag or something.</li>
      <li>When you're ready to party, puree in batches frozen honeydew in a blender with all of the ingredients except the sugar.</li>
      <li>Taste, and blend in sugar if needed.</li>
    </ol>

    <img class="food-pics" src="fresh-honeydew-margaritas.jpg" alt="frozen honeydew margarita" />
</div>

<% elsif Time.now.month > 8 && Time.now.month < 12 %>
  <div class="soup">
    <h3>African Curried Coconut Soup with Chickpeas</h3>
      <p class="recipe">A Bon Appétit recipe from epicurious.com. A pretty quick recipe that can be adapted to the veggies you have on hand. My least favorite part about this soup was the texture of the chickpeas, so I’d call them optional. It’s also vegan if you ever need to please a picky crowd.</p>

      <ul class="recipe">
        <li>2 tablespoons canola oil</li>
        <li>1 medium onion (about 6 ounces), chopped</li>
        <li>1 medium red bell pepper (about 6 ounces), chopped</li>
        <li>1 jalapeño chili, seeded and finely chopped</li>
        <li>2 large cloves garlic, finely chopped</li>
        <li>2 cups low-sodium vegetable broth</li>
        <li>1 (15-ounce) can chickpeas, rinsed and drained</li>
        <li>1 cup chopped tomatoes, seeded and peeled, fresh or canned</li>
        <li>1 teaspoon mild curry powder</li>
        <li>1/2 teaspoon salt, or to taste</li>
        <li>Freshly ground black pepper, to taste</li>
        <li>1 (14-ounce) can light coconut milk</li>
        <li>3/4 cup cooked white or brown rice</li>
        <li>2 tablespoons chopped fresh cilantro or parsley</li>
    </ul>

    <ol class="recipe">
      <li>In a medium stockpot, heat the oil over medium heat. </li>
      <li>Add the onion, bell pepper, and chili; cook, stirring, until softened, about 5 minutes. </li>
      <li>Add the garlic and cook, stirring constantly, 1 minute. </li>
      <li>Add the broth, chickpeas, tomatoes, curry powder, salt, and black pepper; bring to a boil over high heat. </li>
      <li>Reduce the heat and simmer gently, uncovered, stirring occasionally, about 10 minutes. </li>
      <li>Add the remaining ingredients and cook, stirring occasionally, until heated through, about 5 minutes. Serve warm.</li>
    </ol>

    <img class="food-pics" src="african-coconut-curry.jpg" alt="african coconut curry" />
</div>

<% else %>
<h3>Alice’s Brownies</h3>
<p class="recipe">Alice is my great aunt on my dad’s side. I don’t remember her that well, but I do have fond memories of these brownies. My mom makes them and they’re gooey and delicious. If they aren’t, you’re doing something wrong.</p>

<ul class="recipe">
<li>1/2 cup sugar</li>
<li>2 T butter</li>
<li>2 T water</li>
<li>2 cups semi-sweet chocolate chips</li>
<li>2 eggs</li>
<li>1 t. vanilla</li>
<li>2/3 cup unsifted flour</li>
<li>1/4 t. baking soda</li>
<li>1/4 t. salt </li>
<li>1/4 cup nuts (optional)</li>
</ul>

<ol class="recipe">
<li>Preheat oven to 325 F. </li>
<li>On stove, melt butter, add sugar and water. Remove from heat. </li>
<li>Add 1 cup of chocolate chips and stir. </li>
<li>Add eggs, vanilla, the remaining chocolate chips and nuts.</li>
<li>Greased 8” sq. for 25-30 minutes.</li>
</ol>


  <% end  %>
